.text {
    -fx-font-family: "sans-serif";
    -fx-font-size: 14;
}

.label {
    -fx-padding: 10px;
    -fx-background-color: #90ee90;
    -fx-background-insets: 5px;
    -fx-background-radius: 25px;
}
